<!--
  @description       : 
  @author            : Hitesh Garg
  @last modified on  : 06-13-2021
  @last modified by  : Hitesh Garg
  Modifications Log 
  Ver   Date         Author        Modification
  1.0   06-13-2021   Hitesh Garg   Initial Version
-->
<template>
    <ul class={starClass}></ul>
</template>