<!--
  @description       : 
  @author            : Hitesh Garg
  @last modified on  : 06-13-2021
  @last modified by  : Hitesh Garg
  Modifications Log 
  Ver   Date         Author        Modification
  1.0   06-13-2021   Hitesh Garg   Initial Version
-->
<template>
    <lightning-card variant="Narrow" title="Rating Component" icon-name="utility:connected_apps">
        <div class="slds-var-p-left_small">
            <c-rating-c-m-p read-only={readOnly} value={rating} onratingchange={handleRatingChanged}>
            </c-rating-c-m-p>
        </div>
    </lightning-card>
</template>